*{
    box-sizing: border-box;
 
}
body{
    --background-color:white;
    --text-color:black;
    --elements-color:white;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    background-color:var(--background-color) ;
    color:var(--text-color) ;
   
    
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;
    
}
.class{
    --background-color:hsl(207,26%,17%);
    --text-color:white;
    --elements-color:hsl(209,23%,22%);
}

.dark{
    cursor: pointer;
}
header{
    padding-inline: 24px;
    box-shadow:0 2px 4px 0px rgba(0,0,0,0.2) ;
    background-color: var(--elements-color);
}
.title{
    font-weight: 800;
}
.countries-container{
    /* padding: 20px; */
    max-width: 1200px;
    margin-inline:auto ;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;

}
a{
    text-decoration-line:none ;
    color: inherit;
}
.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:0 0px 8px 0px rgba(0,0,0,0.4) ; 
    padding-bottom: 16px;
    background-color: var(--elements-color);
    transition: all 0.2s ease-in-out;
}
.country-card:hover{
    transform: scale(1.05);
    box-shadow:0 0px 16px 0px rgba(0,0,0,0.4) ; 
}

.country-card h3{
    font-size: 20px;
    margin-left: 16px;
}
.card-text{
    padding-inline: 15px;
    line-height: 8px;
}
.country-card img{
    width: 100%;
    
}
.search-filter-container{
    height: 60px;
    margin-block:50px ;
    color: #999;
    /* padding-inline: 160px; */
    display: flex;
    justify-content: space-around;
}

.search-cotainer{
  padding-left:25px ;
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    box-shadow:0 0px 8px 0px rgba(0,0,0,0.4);
}
.search-cotainer input{
    margin-left: 25px;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.25rem;
    outline: none;
    background-color: var(--elements-color);
    color: var(--text-color);
}
/* .select{
   background-color: black;
   color: white;
}
.option{
    background-color: blue;
    height: 20px;

} */
 .filter-by-region{
    width: 250px;
    padding-inline: 16px;
    border: none;
    outline: none;
    box-shadow:0 0px 8px 0px rgba(0,0,0,0.4);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
 }
/* .search-cotainer input::placeholder{
    color: #999;
} */

.light{
    cursor: pointer;
    display: none;
}
.lightcall{
    display: block;
}
.darkcall{
    display: none;
}
@media(max-width:600px){
    .countries-container{
        justify-content: center;
    }
}
@media(max-width:800px){
   .search-filter-container{
    display: flex;
    flex-direction: column;
    height: 106px;
   }
   .search-cotainer{
    height: 100px;
   }
   .filter-by-region{
    /* width: 250px; */
    /* padding-inline: 16px; */
    border: none;
    outline: none;
    box-shadow:0 0px 8px 0px rgba(0,0,0,0.4);
    border-radius: 4px;
    margin-top: 11px;
    height: 106px;
 }
}